body {
    display: grid;
}
.dapa {
    background-color: aqua;
    color: black;
}
div {
    border: 1px solid red;
}
.kompas a {
    text-decoration: none;
}
.show {
    width: 1450px;
    text-align: center;
    overflow: hidden;
}
.shov {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
.shov::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.shov::-webkit-scrollbar-thumb {
    background: black;
}
.shov::-webkit-scrollbar-track {
    background: transparent;
}
.shov > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: 600px;
    margin-right: 50px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: tranform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}
.muallif {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 0.75rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
}
.muallif a {
    color: white;
}
.show > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin: 0 0 0.5rem 0;
    position: relative;
}
.show > a:active {
    top: 1px;
}
.show > a:focus {
    background: #000;
}
.place {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    position: fixed    ;
    width: 100%;
    height: 100%;
}
